@import '../../theme.scss';

.main-view {
  display: flex;
  gap: 2rem;
}

.calendar-container {
  flex: 0 0 70%;
  max-width: 70%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  h2 {
    color: $primary-color;
    font-size: $font-size-large;
    margin: 0;
  }

  button {
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba($primary-color, 0.1);
    }
  }
}

.event-list-container {
  flex: 1;
  padding: 1rem;
  border-left: 1px solid $background-dark;
}

.no-day-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #888;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2.5rem; /* Aumentado de 1.5rem */
}

.month {
  background-color: $background-light;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: $box-shadow;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  position: relative;

  &:hover {
    background-color: $background-dark;
  }

  &.selected {
    background-color: $primary-color;
    color: $text-color-light;
  }
}

.event-indicator {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: $accent-color;
  border-radius: 50%;
}
