@import '../../theme.scss';

.main-view {
  display: flex;
  gap: 2rem;
}

.calendar-container {
  flex: 0 0 70%;
  max-width: 70%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  h2 {
    color: $primary-color;
    font-size: $font-size-large;
    margin: 0;
  }

  button {
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba($primary-color, 0.1);
    }
  }
}

.event-list-container {
  flex: 1;
  padding: 1rem;
  border-left: 1px solid $background-dark;
}

.no-day-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #888;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2.5rem; /* Aumentado de 1.5rem */
}

.month {
  background-color: $background-light;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: $box-shadow;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0.3rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  min-height: 60px;

  &:hover {
    background-color: $background-dark;
  }

  &.selected {
    background-color: $primary-color;
    color: $text-color-light;
  }

  &:has(.day-events) .day-number {
    background-color: $primary-color;
    color: white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}

.day-number {
  font-weight: 500;
  margin-bottom: 0.2rem;
  text-align: center;
  transition: all 0.3s;
}

.day-events {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 0.2rem;
}

.day-event {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba($accent-color, 0.1);
  border-left: 3px solid $accent-color;
  padding: 0.2rem 0.3rem;
  border-radius: 3px;
  font-size: 0.75rem;
  gap: 0.2rem;

  .event-title {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .delete-btn {
    width: 20px;
    height: 20px;
    padding: 0;
    min-width: unset;
    flex-shrink: 0;

    mat-icon {
      font-size: 14px;
      width: 14px;
      height: 14px;
      line-height: 14px;
    }

    &:hover {
      background-color: rgba(255, 0, 0, 0.1);
      
      mat-icon {
        color: red;
      }
    }
  }
}

.event-indicator {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: $accent-color;
  border-radius: 50%;
}
